@background-color: #ffffff;
@text-color: #1A237E;

p{
  background-color: @background-color;
  color: @text-color;
  padding: 15px;
}
body {
      font-family: sans-serif;
    }
    .node rect {
      fill-opacity: .9;
      shape-rendering: crispEdges;
    }
    .link {
      fill: none;
      stroke: #024;
      stroke-opacity: .5;
    }
    .link:hover {
      stroke-opacity: 1;
    }
